main{
  padding: 1em 2em;
  overflow: auto;
}

main p, main h2, main span {
  font-family: "pirelli";
  color: black;
  font-size: 1.5em;
}

section {
  padding-top: 1em;
  border-top: var(--border);
  ;
}

/* buttons ----------------------------------------------*/
main section div button {
  font-size: 1.55em;
  border-radius: 1em;
  background-color: var(--garage-grijs);
  border: var(--border);
  width: 22vw;
}

main section div button:hover {
  background-color: black;
  color: var(--garage-grijs);
}

/* button styling */
main section div button a {
  text-decoration: none;
  color: black;
  font-family: "pirelli";
}

/*  ----------------------------------------------*/
section:last-of-type {
  padding-top: 3em;
  padding-bottom: 1.5em;
  border-bottom: var(--border);
  ;
}

main h2 {
  text-transform: uppercase;
}

main div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

main section:first-of-type div button, main section:first-of-type div img {
  margin-bottom: 2em;
}

main div img {
  width: 22vw;
}

main section:nth-last-of-type(2) div:last-of-type, section:nth-last-of-type(2) ol {
  display: block;
  width: 22vw;
}


section:nth-last-of-type(2) {
  display: flex;
  justify-content: space-between;
}


/* footer logos dingetje------------------------------------------ */
main ul {
  display: flex;
  justify-content: flex-end;
}

main ul li {
  padding: 0 1em;
}

main ul img {
  height: 2em;
}

/*media query 1100px----------------------------------------------- */
@media screen and (max-width: 1100px) {
  main section div button {
    width: 100%;
  }

  main section:first-of-type div {
    flex-direction: column;
  }

  main div img {
    width: 100%;
  }

  main section:nth-last-of-type(2) div:last-of-type, section:nth-last-of-type(2) ol {
    width: 100%;
  }

  @media screen and (max-width: 1100px) {
    section:nth-last-of-type(2) {
      flex-direction: column;
    }
}
