/* eigen fonts bron: garagenoord rip                                   */
@font-face {
  font-family: pirelli;
  src: url(../fonts/pirelli-regular.ttf);
}

@font-face {
  font-family: NeuePlak;
  src: url(../fonts/NeuePlak-NarrowBlack.ttf);
}

@font-face {
  font-family: NeuePlakNarrow;
  src: url(../fonts/NeuePlak-NarrowRegular.woff2);
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --garage-grijs: #F7F7F7;
  --border: 2px solid black;
  --garage-groen: #00df00;
  --garage-donker-grijs: #B2B2B1;
}

/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing: border-box;
}

button, summary {
  cursor: pointer;
}

html {
  margin: 0;
  padding: 0;
  background-color: var(--garage-grijs);
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li a {
  text-decoration: none;
}

/* split screen */
body {
  display: flex;
  margin: 0;
}

header, main {
  width: 50%;
  height: 100vh;
}

/*----------------------header--------nav----------*/
header {
  background-color: black;
}

header button {
  display: none;
}

nav {
  height: 100%;
  padding: 1em 2em;
}

nav ul {
  display: flex;
  height: 100%;
  flex-direction: column;
}

/* header selector zodat eventuele latere a elementen niet worden meegenomen */
header ul li a {
  font-family: "NeuePlak";
  color: var(--garage-donker-grijs);
  font-size: 7vw;
  margin-left: .5em;
}

header ul li {
  border-top: 2px solid var(--garage-grijs);
  height: 100%;
  display: flex;
  align-items: center;
}

header ul {
  border-bottom: 2px solid var(--garage-grijs);
}

header ul li a:hover {
  color: var(--garage-grijs);
}

/*----------------------header--------nav----------*/
/*marquee animatie infinite*/
header>div {
  position: fixed;
  height: 100vh;
  width: 2em;
  background-color: var(--garage-groen);
  color: black;
  overflow: hidden;
  left: 0;
}

header>div>div {
  display: flex;
  height: 100vh;
  flex-direction: column;
  animation: scrolling 10s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100vh);
  }

  /*  ( 5 list items *20vw maarquee content li width) */
}

/* lijst clone aantal is marquee height / li heigt    */
header>div>div span {
  height: 20vh;
  writing-mode: vertical-lr;
  flex-shrink: 0;
  font-size: 3vh;
  font-family: "pirelli";
  white-space: nowrap;
}

/*media query 800px-----------------------------------------*/
@media screen and (max-width:800px) {
  header {
    width: 100%;
    height: 3em;
  }

  header.clicked {
    height: 100%;
    background-color: black;
  }

  nav {
    display: none;
  }

  nav.clicked {
    display: flex;
  }

  header>div {
    display: none;
  }

  nav ul {
    width: 100%;
    height: 100vh;
  }

  body {
    display: block;
    overflow: hidden;
  }

  main {
    width: 100%;
  }

  header>button {
    display: block;
    width: 3em;
    height: 3em;
    padding: 0;
    border: none;
    background: none;
    margin-left: 2em;
  }

  header>button svg {
    fill: var(--garage-grijs);
    margin-top: .7em;
  }
}
